html {
    background-color: lightgray;
}

body {
    width: 50%;
    min-width: 500px;
    margin: 1rem auto;
    padding-bottom: 1rem;
    background-color: antiquewhite;
    box-shadow: 10px 10px 5px gray;
    border-radius: 20px;
}

/* Header */

header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

select {
    height: 1.5rem;
}

/* Main */
h2 {
    text-align: center;
}

article {
    padding: 0 1rem 0;
    
}

.bold {
    font-weight: bold;
}

.pInBl {
    display: inline-block;
    margin-right: 1rem; 
}

